{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
<div class="pattern"></div>

<ul>
  <li>
    <a href="{{ path('app_api_devis') }}">
      <i class="fas fa-file-invoice"></i>
      Devis
    </a>
  </li>
  <li>
    <a href="{{ path('app_api_facture') }}">
      <i class="fas fa-file-invoice-dollar"></i>
      Facture
    </a>
  </li>
  <li>
    <a href="{{ path('app_api_facture') }}">
      <i class="fa-solid fa-shuffle"></i>
      Devis <i class="fa-solid fa-arrow-right white"></i> Facture
    </a>
  </li>
  <li>
    <a href="/admin">
      <i class="fa-solid fa-user"></i>
      Admin
    </a>
  </li>
</ul>

{% for item in companyInfo %}
<h1>{{item.name}}</h1>
<div class="image">
  {% if item.logo %}
    <img src="{{ asset('uploads/logos/' ~ item.logo) }}" alt="{{ item.name }}">
  {% else %}
    <p>Pas de photo</p>
  {% endif %}
</div>

<div class = "info">

<p><i class="fa-solid fa-map-pin"></i>{{ item.adress }}
  {{item.codePostal}} {{item.city}} ({{item.pays}})</p>
<p><i class="fa-solid fa-phone"></i>{{item.phone}}</p>
<p><i class="fa-solid fa-tag"></i>{{item.tvaNumber}}</p>

</div>
{% endfor %}

 
{% endblock %}

