{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
<div class="pattern"></div>

<ul>
  <li>
    <a href="{{ path('app_api_devis') }}">
      <i class="fas fa-file-invoice"></i>
      Devis
    </a>
  </li>
  <li>
    <a href="{{ path('app_api_facture') }}">
      <i class="fas fa-file-invoice-dollar"></i>
      Facture
    </a>
  </li>
  <li>
    <a href="{{ path('app_api_transform') }}">
      <i class="fa-solid fa-shuffle"></i>
      Devis <i class="fa-solid fa-arrow-right white"></i> Facture
    </a>
  </li>
  <li>
    <a href="/admin">
      <i class="fa-solid fa-user"></i>
      Admin
    </a>
  </li>
</ul>

{% for item in companyInfo %}
<h1>{{item.name}}</h1>
<div class="image">
  {% if item.logo %}
    <img src="{{ asset('uploads/logos/' ~ item.logo) }}" alt="{{ item.name }}">
  {% else %}
    <p>Pas de photo</p>
  {% endif %}
</div>

<div class="info">
    {% if item.nom and item.prenom %}
    <p><i class="fas fa-user"></i> {{ item.nom }} {{ item.prenom }}</p>
    {% endif %}
    {% if item.adress and item.codePostal and item.city and item.pays %}
    <p><i class="fa-solid fa-map-pin"></i> {{ item.adress }}, {{ item.codePostal }} {{ item.city }} ({{ item.pays }})</p>
    {% endif %}
    {% if item.tvaNumber %}
    <p><i class="fa-solid fa-tag"></i> {{ item.tvaNumber }}</p>
    {% endif %}
    {% if item.banque %}
    <p><i class="fas fa-university"></i> {{ item.banque }}</p>
    {% endif %}
    {% if item.email %}
    <p><i class="fas fa-envelope"></i> {{ item.email }}</p>
    {% endif %}
    {% if item.phone %}
    <p><i class="fa-solid fa-phone"></i> {{ item.phone }}</p>
    {% endif %}
</div>
<div class="deco">
<a href="{{ path('app_logout') }}">
      <i class="fas fa-sign-out-alt"></i>
      Déconnexion
    </a>
</div>

{% endfor %}

 
{% endblock %}

